 <div class="container-fluid px-5 mt-5">

    <div class="text-center mb-5">

        <h1 class="dashboard-title">
            Sistema Académico
        </h1>

        <h3 class="dashboard-subtitle">
            Colegio San José
        </h3>

        <p class="mt-3">
            Dashboard académico institucional.
        </p>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow-lg border-0 bg-primary text-white mb-4"
                style="border:none;">
                <div class="card-body text-center">

                    <h2>@ViewBag.TotalAlumnos</h2>

                    <h5>Total Alumnos</h5>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-lg border-0 bg-success text-white mb-4"
                style="border:none;">
                <div class="card-body text-center">

                    <h2>@ViewBag.TotalMaterias</h2>

                    <h5>Total Materias</h5>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-lg border-0 bg-danger text-white mb-4" 
				 style="border:none;">

                <div class="card-body text-center">

                    <h2>@ViewBag.TotalExpedientes</h2>

                    <h5>Total Expedientes</h5>

                </div>

            </div>
        </div>

    </div>

    <div class="card shadow-lg border-0 mt-4">

        <div class="card-body">

            <h4 class="mb-4 text-center">
                Promedio de Notas por Alumno
            </h4>

            <canvas id="graficaPromedios"></canvas>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const labels = @Html.Raw(
                System.Text.Json.JsonSerializer.Serialize(ViewBag.Alumnos)
        );

    const data = @Html.Raw(
                System.Text.Json.JsonSerializer.Serialize(ViewBag.Promedios)
        );

    const ctx = document.getElementById('graficaPromedios');

    new Chart(ctx, {

        type: 'bar',

        data: {

            labels: labels,

            datasets: [{
                label: 'Promedio',
                data: data
            }]
        }

    });

</script>